.ButtonComplete {
  background-color: #152833;
  color: whitesmoke;
  font-size: 18px;
  border-radius: 7px;
  border: none;
  box-shadow: 0 0 10px orange;
  padding: 10px;
}
.ButtonComplete:active {
  box-shadow: 0 0 3px red;
}
