.scoreOpnBtn {
  text-decoration: none;
  color: white;
  font-size: 18;
  border: 1px solid #152833;
  background-color: rgb(104, 72, 14);
  padding: 5px 3px;
  display: block;
}
.scoreOpnBtn:hover {
  background-color: rgb(129, 119, 100);
}
