body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #0f3057;
  /* background-image: url("./assets/dark1.jpg"); */
}
html {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Yaldevi", sans-serif;
}
p {
  font-family: "Yaldevi", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
