.loginCardHandle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0e3047;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
  box-shadow: 0px 0px 15px 5px orange;
  border-radius: 5px;
}
.textWrapper {
  color: white;
  margin-bottom: 20px;
}
.errorWrapper {
  color: red;
  margin-bottom: 10px;
}
.createLink {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  color: white;
  width: 300px;
  text-decoration: none;
  margin-bottom: 8px;
}
.createLink:hover {
  text-decoration: underline;
  color: orange;
}
